* {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   display: flex;
   flex-direction: column;
}

/* header */
/* header */

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;
   background-color: lightblue;
}

.header button {
   position: absolute;
   left: 0;
}

/* main */
/* main */

.main {
   display: flex;
   height: 85vh;
   background-color: lightgoldenrodyellow;
}

/* navbar */

.navbar {
   background-color: lightgrey;
   width: 20%;
   padding: 4px;
}

.navbar div {
   margin: 3px 0;
}

.selected {
   font-weight: bold;
}

/* projects list */

/* user added projects */
.user-project {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/* project form */

#projectForm {
   display: none;
}

#projectInput {
   width: 92px;
}

/* task display area */

.content-display {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.task-info {
   width: 90%;
}

.task-info-legend {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   justify-items: center;
   padding: 2px;
}

.user-tasks {
   width: 90%;
   overflow-y: scroll;
}

.user-task {
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
   padding: 2px;
   margin-bottom: 6px;
}

.selected-task {
   border: 1px solid lightgreen;
}

/* task form */

.task-form-row {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
   width: 100%;
}

.task-form-row .task-description-label,
.task-form-row .task-dueDate-label {
   width: 75px;
}

.task-form-row input {
   width: 100%;
   height: 20px;
   font-size: 14px;
   padding-left: 2px;
}

.task-form-row select {
   margin-left: 15px;
   width: 60px;
   height: 20px;
}

#taskForm p {
   color: #D55C5F;
   font-size: 14px;
}

.task-form-btns {
   display: flex;
   justify-content: space-around;
}

/* buttons */
/* buttons */

#taskFormDispBtn,
#newProjectBtn {
   width: 120px;
   height: 35px;
   padding: 5px;
   margin: 3px;
   background-color: lightgreen;
   border: 1px solid black;
   border-radius: 10px;
   cursor: pointer;
   font-weight: bold;
}

#taskFormDispBtn:hover,
#newProjectBtn:hover {
   filter: brightness(95%);
}

#task-submit-btn,
#project-submit-btn {
   width: 40px;
   height: 25px;
   background-color: lightgreen;
   border: 1px solid black;
   border-radius: 10px;
   cursor: pointer;
   font-weight: bold;
}

#task-submit-btn:hover,
#project-submit-btn:hover {
   filter: brightness(95%);
}

form:invalid button {
   opacity: 0.3;
   pointer-events: none;
}

#task-cancel-btn,
#project-cancel-btn {
   width: 50px;
   height: 25px;
   background-color: lightcoral;
   border: 1px solid black;
   border-radius: 10px;
   cursor: pointer;
   font-weight: bold;
}

#task-cancel-btn:hover,
#project-cancel-btn:hover {
   filter: brightness(95%);
}

/* footer */
/* footer */

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 5vh;
   background-color: lightblue;
}

/* modal */

.modal {
   position: fixed;
   z-index: 1;
   top: 30%;
   left: 50%;
   width: 300px;
   padding: 10px 0;
   border-radius: 10px;
   background-color: #F0EEF1;
   transform: translate(-50%, -50%) scale(0);
   transition: 0.2s ease-in-out;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.modal.active {
   transform: translate(-50%, -50%) scale(1);
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
   display: block;
}

/* mobile device styling */

@media (max-width: 650px) {
   .navbar {
      width: 33%;
   }

   .remove-project-btn {
      height: 20px;
   }

   #newProjectBtn {
      width: 80px;
      height: 45px;
   }
}